.main {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left:-200px;
	margin-top:-450px;
  
}

.main p {
	text-align: center;
	display: block;
}

.main h2 {
	text-align: center;
	display: block;
}

.item {
	display: none, block;
}




